 h1 {

    text-align: center;
    height: 50px;
    margin: 20px;
    padding: 10px;
    font-style: italic;
    font-size: 50px
    

    
    }


h2 {
    margin-top: 20pxs;
    text-align: center;
    height: 20px;
    margin: 5px;
    padding: 5px;
    font-style: italic;
    font-size: 30px
   
}


*{
    background-color: black;
    font-style: italic;
    color: white;
}


p {
    text-align: center;
    height: 20px;
    margin: 20px;
    padding: 10px;
    font-style: italic;
    font-size: 20px;

}
nav ul{
    display: flex;
}
nav ul li a {
    padding: 5px;
    width: 10px;
    height: 20px;
    margin: 20px;
    background-color: white;
    color: black ;
    border-radius: 20%;
    

}
div{
    display : flex;
    margin: 50px;
    padding: 20px;
    width: auto;
    border: white 2px solid;

}

footer{
    text-align: center;
    height: 40px;
    margin: 70px;
    padding: 10px;
    font-style: italic;
    font-size: 15px
}




.imglogo{
    width: 300px;
    height: auto;
    margin: 20px;
    padding: 10px;
    border-radius: 50%;
}

.subtitulo{
display: flex;
text-align: center


}


.descripcion { 

    flex: 1;
    text-align: left;
    margin-top: 60px;
    margin-right: 50px;   

}

.cuartohermano{
   width: 200px;
    height: auto;
    margin: 5px;
    padding: 10px;
   

}


.contenedorprincipal{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

